<h2>Login</h2>
<a href="/">Back to home</a>
<div>
	<form class="login" method="post" action="/login">
		<label>Enter your email</label>
	  <input name="email" type="text"/>
	  <br/>

	  <label>Enter your password</label>
	  <input name="password" type="password"/>
	  <br/>

	  <button id="submitLogin" type="submit">submit</button>
	</form>
</div>
