<h2>Signup</h2>
<div>
  <form class="signup" method="post" action="/signup">
    <label>Username</label>
    <input name="username" type="text" placeholder="Username" />
    <br/>

    <label>Email</label>
    <input name="email" type="text" placeholder="Your Email" />
    <br/>

    <label>Password</label>
    <input name="password" type="password" placeholder="Password" />
    <br/>

    <button id="submitSignup" type="submit">Submit</button>
  </form>
</div>